<div class="jumbotron-fluid">
  <h4>
    Facts about Dates
  </h4>
</div>

<div class="container">

  <hr />

  <div class="row">
    <p>
      {{dateFact}}
    </p>
  </div>

  <hr />

  <form [formGroup]="dateFactForm" (submit)="onSubmit()">
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="monthInput">Specify Month:</label>
          <input formControlName="month" type="text" class="form-control" id="monthInput"
            placeholder="Specify month number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="dayInput">Specify Day:</label>
          <input formControlName="day" type="text" class="form-control" id="dayInput" placeholder="Specify day number">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-secondary" id="ddlMonth" ngbDropdownToggle>
              {{selectedMonth}}
            </button>
            <div ngbDropdownMenu aria-labelledby="selectMonth">
              <button ngValue="month.id" *ngFor="let month of months" type="button"
                (click)="selectMonthFunc(month.name)" ngbDropdownItem>{{month.name}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-secondary" id="ddlDay" ngbDropdownToggle>
              {{selectedDay}}
            </button>
            <div ngbDropdownMenu aria-labelledby="selectDay">
              <button ngValue="day" *ngFor="let day of days" type="button" (click)="selectDayFunc(day)"
                ngbDropdownItem>{{day}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
  </form>
</div>
