<div>
  <h1>Math Facts!</h1>
  <p>Using Reactive Forms</p>
</div>

<div>

  <div class="row">
    <hr />

    <p>
      {{mathFact}}
    </p>

    <hr />
  </div>

</div>

<div class="container">
  <div class="row">
    <form [formGroup]="mathFactForm" (ngSubmit)="onSubmit(mathFactForm)">
      {{mathFactForm.status}}
      <label>
        Number:
        <input id="number" type="text" formControlName="number" required>
      </label>
      <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert alert-danger">
        <div *ngIf="number.errors.required">
          Number is required.
        </div>
      </div>
      <label>
        Fragment:
        <input type="text" formControlName="fragment">
      </label>
      <button type="submit" [disabled]="!mathFactForm.valid">Submit</button>
    </form>
  </div>
</div>
